/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* START OF CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MATERIAL ICONS */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.lighter-dark {
  color: #9e9e9e;
}
.material-icons.purple {
  color: #7b4f9e;
}

.material-icons.md-light {
  color: rgb(219, 219, 219);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* |--------------|
   |              |
   | SITE CONTENT |
   |              |
   |--------------|*/

body {
  background-color: #111111;
  font-family: "Roboto", sans-serif;
}

a { text-decoration: none; }

button:focus,
input:focus { outline: none; }

/* --------------

    NAVBAR 
    
   --------------*/
   
.navbar {
  display: grid;
  top: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #1d1d1d;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto;
  grid-template-areas: "navbar-left navbar-middle navbar-right";
}

.navbar-left {
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  width: 33%;
  height: 100%;
  text-align: left;
  grid-area: navbar-left;
}

.nav-menu,
.nav-logo,
.nav-more,
.nav-mic,
.nav-apps {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
}

.nav-menu:focus,
.nav-logo:focus,
.nav-more:focus,
.nav-mic:focus,
.nav-apps:focus,
.searchbar:focus { outline: none; }

.nav-menu:hover,
.nav-search:hover,
.nav-more:hover,
.nav-mic:hover,
.nav-apps:hover { color: #ab47bc; }

.nav-menu { margin: 0 21px 0 25px; }

.nav-logo { height: 52px; }

.navbar-middle {
  position: relative;
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: navbar-middle;
}

.searchbar {
  height: 33px;
  width: 70%;
  background-color: #111111;
  color: #d8d8d8;
  border: none;
  padding-left: 8px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.nav-search {
  height: 35px;
  width: 55px;
  background-color: #232323;
  border: none;
  border-radius: 0 1px 1px 0;
  margin-right: 14px;
}

.navbar-right {
  position: relative;
  display: inline-flex;
  flex-flow: nowrap row-reverse;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: navbar-right;
}

.sign-in-cont {
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  background-color: #aa47bc;
  height: 65%;
  width: fit-content;
  padding: 3px 10px;
  border: solid 1px #9954a5;
  border-radius: 2%;
  text-align: center;
  margin: 0 15px 0 15px;
}

.sign-in-cont:hover { background-color: #bb4dce; }

.sign-in-cont:focus { outline: none; }

.sign-in-text {
  color: rgb(219, 219, 219);
  margin-left: 8px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 2px;
}

.nav-more { margin-left: 15px; }

.content {
  display: grid;
  margin: 85px auto 0 auto;
  width: 90%;
  height: fit-content;
  grid-template-columns: 74.75% 1.5% 23.75%;
  grid-template-rows: auto;
  grid-template-areas:
    "video . video-sidebar"
    "video-stats . video-sidebar"
    "description . video-sidebar"
    "comments . video-sidebar";
}

/* -------------

        VIDEO
    
   -------------        
*/

.video {
  background-color: transparent;
  grid-area: video;
  height: fit-content;
  width: fit-content;
}

.video iframe {
  -webkit-box-shadow: 0 0 3px -2px #000000;
  box-shadow: 0 0 3px -2px #000000;
}

.video-stats {
  background-color: transparent;
  border-bottom: solid 1px #232323;
  display: grid;
  grid-area: video-stats;
  height: 95px;
  width: fit-content;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "video-leftcont video-rightcont";
}

.video-leftcont {
  display: grid;
  text-align: left;
  grid-area: video-leftcont;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "video-title"
    "video-views";
}

.video-title {
  grid-area: video-title;
  margin-top: 23px;
  color: #e3f4fc;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.video-views {
  grid-area: video-views;
  margin-top: 12px;
  color: #b4c5cc;
  font-weight: 400;
  font-size: 0.86rem;
  font-family: "Roboto", sans-serif;
}

.video-rightcont {
  display: grid;
  grid-area: video-rightcont;
  text-align: right;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    ". ."
    ". video-right";
}

.video-right {
  grid-area: video-right;
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: flex-end;
}

.video-likecont {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95% 5%;
  grid-template-areas:
    "video-aboveborder"
    "video-border";
  margin-right: 8px;
}

.video-aboveborder { grid-area: video-aboveborder; }

.video-border {
  grid-area: video-border;
  height: 2px;
  background: rgb(156, 82, 169);
  background: linear-gradient(
    90deg,
    rgba(156, 82, 169, 1) 0%,
    rgba(156, 82, 169, 1) 97%,
    rgba(96, 96, 96, 1) 97%
  );
}

.video-like,
.video-dislike,
.video-share,
.video-save {
  color: #ccccce;
  font-weight: 600;
  font-size: 0.86rem;
  text-align: center;
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  background-color: transparent;
  border: none;
}

.video-like,
.video-dislike { margin: 10px 0; }

.video-share,
.video-save { margin: 15px 5px; }

.video-likeamount,
.video-dislikeamount,
.video-sharetext,
.video-savetext { margin-left: 6px; }

.video-more {
  margin-top: 9px;
  background-color: transparent;
  border: none;
  color: #ccccce;
}

.video-like:hover,
.video-dislike:hover,
.video-share:hover,
.video-save:hover,
.video-more:hover { color: #ab47bc; }

/* ---------------

    VIDEO SIDE BAR

   --------------
*/

.video-sidebar {
  background-color: transparent;
  grid-area: video-sidebar;
  height: fit-content;
  height: -moz-fit-content;
  width: fit-content;
}

.sidebar-ad {
  display: grid;
  height: 260px;
  width: 100%;
  background-color: transparent;
          box-shadow: inset 3px 3px 0px 0px #3b3b3b, inset -3px -3px 0px 0px #3b3b3b;
  -webkit-box-shadow: inset 3px 3px 0px 0px #3b3b3b,
    inset -3px -3px 0px 0px #3b3b3b;
  grid-template-columns: auto;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    "ad-header"
    "ad-content";
  margin-bottom: 22px;
}

.ad-header {
  grid-area: ad-header;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap row;
  background-color: #181818;
          box-shadow: inset 1px 1px 0px 1px #292929, inset -1px 1px 0px 1px #292929;
  -webkit-box-shadow: inset 1px 1px 0px 1px #292929,
    inset -1px 1px 0px 1px #292929;
}

.header-title {
  color: #e3f4fc;
  font-weight: 600;
  font-size: 1.05rem;
  margin-left: 15px;
}

.header-btn {
  background-color: #aa47bc;
  height: 65%;
  width: 120px;
  margin-right: 15px;
  color: rgb(219, 219, 219);
  font-size: 0.94rem;
  font-weight: bold;
  letter-spacing: -1px;
  border: none;
  border-radius: 2%;
}

.ad-content {
  grid-area: ad-content;
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: flex-start;
  background-color: #232323;
  height: 100%;
          box-shadow: inset -1px -1px 0px 1px #292929, inset 1px -1px 0px 1px #292929;
  -webkit-box-shadow: inset -1px -1px 0px 1px #292929,
    inset 1px -1px 0px 1px #292929;
}

.content-poster { margin-left: 16px; }

.content-data {
  color: rgb(219, 219, 219);
  font-weight: 600;
  font-size: 0.9rem;
  height: 85%;
  width: 100%;
  padding-left: 10px;
}

.content-text { margin-bottom: 6px; }

.nextvid {
  position: relative;
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 43.5% 52% 4.5%;
  grid-template-rows: 100%;
  grid-template-areas: "nextvid-left nextvid-right .";
  margin-bottom: 6px;
}

.watchlaterbtn-cont {
  right: 7%;
  top: 7%;
}

.playbtn-cont {
  right: 7%;
  bottom: 36%;
}

.morebtn-cont {
  right: 0%;
  top: 4%;
}

.morebtn {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: center;
}

.playbtn-cont,
.watchlaterbtn-cont,
.morebtn-cont {
  position: absolute;
  display: none;
}

.nextvid:hover .playbtn-cont,
.nextvid:hover .watchlaterbtn-cont,
.nextvid:hover .morebtn-cont { display: initial; }

.morebtn:hover,
.watchlaterbtn:hover,
.playbtn:hover,
.nextvid-title:hover { color: #924ec8; }

.playbtn,
.watchlaterbtn {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0;
  text-align: center;
}

.timestamp-cont {
  position: absolute;
  bottom: 10%;
  right: 7%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: auto;
  border: none;
  border-radius: 10%;
  color: rgb(219, 219, 219);
}

.timestamp {
  width: fit-content;
  padding: 1px 3px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 7%;
}

.nextvid-left {
  position: relative;
  grid-area: nextvid-left;
  height: 100%;
}

.nextvid-right {
  position: relative;
  grid-area: nextvid-right;
  height: 100%;
}

.nextvid-title {
  color: #e3f4fc;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 2px;
}

.nextvid-user {
  color: #7b4f9e;
  font-size: 0.82rem;
  font-weight: bold;
  padding-bottom: 7px;
}

.nextvid-stats {
  color: #b4c5cc;
  font-weight: bold;
  font-size: 0.82rem;
}

/* ----------------

    DESCRIPTION

   ----------------*/

.description {
  display: grid;
  grid-template-columns: 5.2% 44.8% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "description-left description-middle description-right";
  background-color: transparent;
  grid-area: description;
  height: 180px;
  width: fit-content;
  border-bottom: solid 1px #232323;
}

.description-left {
  grid-area: description-left;
  padding-top: 12px;
}

.description-middle {
  grid-area: description-middle;
  position: relative;
}

.description-name {
  display: inline-block;
  color: #e3f4fc;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 24px 0 4px 0;
}

.description-subs {
  color: #b4c5cc;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 24px;
}

.description-name:hover,
.description-showmore:hover { color: #ab47bc; }

.description-text1 {
  color: #b4c5cc;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 24px;
}

.description-text2 {
  color: #b4c5cc;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.description-showmore {
  background-color: transparent;
  color: #e3f4fc;
  font-weight: bold;
  font-size: 0.83rem;
  border: none;
  width: fit-content;
  padding: 0;
  letter-spacing: -1px;
}

.description-right {
  text-align: right;
  grid-area: description-right;
}

.description-subbtn {
  background-color: #aa47bc;
  border: solid 1px #9954a5;
  border-radius: 4%;
  text-align: center;
  height: 39px;
  padding: 0 16px;
  color: #e3f4fc;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: -1px;
  margin-top: 18px;
}

.description-subbtn:hover {
  background-color: #bb4dce;
}

/* ------------------

    COMMENTS

   ------------------*/

.comments {
  background-color: transparent;
  grid-area: comments;
  height: 80rem;
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;
}

.initialcomment {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48% 52%;
  grid-template-areas:
    "initialcomment-header"
    "initialcomment-body";
  margin-bottom: 28px;
}

.initialcomment-header {
  grid-area: initialcomment-header;
  display: inline-flex;
  align-items: center;
  flex-flow: nowrap row;
  justify-content: flex-start;
}

.initialcomment-body {
  grid-area: initialcomment-body;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: nowrap row;
}

.initialavatar { margin-right: 12px; }

.initialcomment-input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #232323;
  width: 100%;
  color: #b4c5cc;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 3px;
}

.initialcomment-input::placeholder {
  color: #b4c5cc;
  opacity: 1;
}

.header-commentnum {
  color: #b4c5cc;
  margin: 28px 28px 26px 0;
}

.header-sortby {
  display: inline-flex;
  align-items: center;
  flex-flow: nowrap row;
  background-color: transparent;
  padding: 0;
  text-align: center;
  border: none;
  color: #e3f4fc;
  font-weight: bold;
  font-size: 0.85rem;
}

.header-sortby:hover { color: #ab47bc; }

.sortby-symbol { margin-right: 8px; }

.commentcont {
  display: grid;
  grid-template-columns: 4.5% 95.5%;
  grid-template-rows: 100%;
  grid-template-areas: "comment-left comment-right";
  margin-bottom: 46px;
}

.comment-left { grid-area: comment-left; }

.comment-right {
  grid-area: comment-right;
  position: relative;
}

.comment-name {
  color: #e3f4fc;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 1px;
}

.comment-namecont {
  display: inline-block;
  color: #e3f4fc;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 8px 0 8px 0;
}

.comment-text {
  color: #b4c5cc;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.comment-likes {
  display: flex;
  align-items: center;
  flex-flow: nowrap row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.comment-like,
.comment-dislike,
.comment-replybtn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.comment-like:hover,
.comment-dislike:hover,
.comment-viewreplycont:hover .viewreply-text,
.comment-viewreplycont:hover .viewreply-arrow,
.comment-name:hover { color: #ab47bc; }

.comment-dislike { margin-right: 25px; }

.comment-like { margin-right: 9px; }

.comment-likesnum {
  color: #b4c5cc;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 18px;
}

.comment-replybtn {
  color: #e3f4fc;
  font-size: 0.84rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.comment-viewreplycont {
  position: absolute;
  bottom: -18px;
  left: -4px;
  display: inline-flex;
  align-items: center;
  flex-flow: nowrap row;
  justify-content: flex-start;
  padding: 0;
  background-color: transparent;
  border: none;
}

.viewreply-text {
  color: #e3f4fc;
  font-size: 0.85rem;
  font-weight: bold;
  margin-left: 12px;
}
